body{
        font-family: 'arial rounded MT';
    width: 100%;
    height: 100%;
   background-repeat: repeat;
    background-position: center;
    background-size: cover;
    margin-top: -10%;
    padding:20%;
    z-index: 1;
 }

.home-bg{
    background-image: url("images/Homepage Background.jpg");
}

.about-bg{
    background-image: url("images\about Background.jpg"); 
}

.signin-bg{
    background-image: url("images\Sign In Background.jpg"); 
    }

.account-bg{
        background-image: url("images\My Account Background.jpg"); 
        }

        .catalog-bg{
            background-image: url("images\Catalog Background.jpg"); 
            }
        
            .img{
                max-width: 100%;
                display: block;
            }


#image-overlay1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 500%;
    background: rgba(70, 218, 191, 0.6);
    z-index: 1;
   }

header{
        top: 0;
    left: 0;
    right: 0;
        height: 1.5%;
display: flex;
align-items: center;
z-index: 2;
}

header *{
    display: inline;

}


header li a{
    color: black;
    padding: 2rem;
}

.navbar {
    margin-top: 2.5%;
    max-width: 100%;
display: inline-block;
align-items: center;
   justify-content: space-between;
   font-family: 'arial rounded MT';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 1rem;
       }
       /*mobile coding */

       #hamburgericon{
        margin-left: 100%;
        margin-top:10%;
        display:none;
       }

       .hamburgericon div{
        width:35px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition:0.4s;
       }

       .open .bar1{
        -webkit-transform: rotate(-45deg) translate(-6px,6px);
        transform: rotate(-45deg) translate(-6px, 6px);
       }

       .open .bar2{
        opacity: 0;
       }

       .open .bar3{
        -webkit-transform: rotate(45deg) translate(-6px, -8px);
        transform: rotate(45deg) translate(-6px, -8px);
       }

       .open .mobilemenu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
       }

       .mobilemenu{
        display:none;
        position:absolute;
        top:50px;
        left: 0;
        height: calc(100vh-50px);
        width: 100%;
        list-style: none;
        color: black;
        z-index: 2;
       }
     @media(max-width: 880px){
         .navbar{
            display: none;
        }

        #hamburgericon{
            display: block;
        }
        
     }



   .library{
border-style: solid;
border-width: 1px;
border-radius: 5px;
   }

  

   .sign{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
       }

   #logo{
    box-sizing: border-box;
    position: absolute;
left: -3rem;
top: -rem;
  border: 4px solid rgba(70, 218, 191, 0.5);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 2rem;
   }

.indexcontainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    z-index: 3;
}

   
      .container1{
    position: absolute;
width: 75%;
height: 100%;
left: 15%;
top: 20%;

background: rgba(224, 224, 224, 0.75);
border-radius: 2rem;
z-index: 3;
   }

   #hp1{
    box-sizing: border-box;
    display: -webkit-box;
    margin-left: 30%;
    margin-top: 10%;
    width: 70%;
    position:relative;
    z-index: 1;
border: .25rem solid rgba(70, 218, 191, 0.75);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 2rem;
z-index: 4;

   }

   .content1{
    width: 100%;
    height: 100%;
    font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1rem;
    text-align: center;
        color: #4E4D4D;
        margin-top: 38%;
    z-index: 3;

   }

 
   .container2{
 position: absolute;
width: 75%;
height: 130%;
left: 15%;
top: 138%;
background: rgba(224, 224, 224, 0.75);
border-radius: 2rem;
z-index: 3;
   }

   .location{
    text-align: center;
    font-family: 'arial rounded MT';
font-style: normal;
font-weight: 400;
font-size: 2rem;
line-height: 1rem;
text-decoration: underline;
color: #4E4D4D;
   }
   
   table{
    margin-left: 25%;
            width: 100%;
    text-align: center;
   }

   th{
    padding-top: 0;
    height:1rem;
    width: 50%;
    font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1rem;
    text-align: center;
    text-decoration-line: underline;
    color: #4E4D4D;
    margin: .5%;

   }

   tr{
    padding-top: 2%;
    width: 50%;
    font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    text-align: center;
    color: #4E4D4D;
    margin: .5%;
   }

   .donations{
    text-align: center;
    font-family: 'arial rounded MT';
font-style: normal;
font-weight: 400;
font-size: 2rem;
line-height: 1rem;
text-decoration: underline;
color: #4E4D4D;
   }

   .content2{
    width: 75%;
    font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
        color: #4E4D4D;
        margin-left: 15%;
    margin-top: 2%;
    z-index: 3;

   }
    
   .container3{
   position: absolute;
width: 75%;
height: 90%;
left: 15%;
top: 290%;
background: rgba(224, 224, 224, 0.75);
border-radius: 2rem;
z-index: 3;
   }

   .eventcal{
    text-align: center;
    font-family: 'arial rounded MT';
font-style: normal;
font-weight: 400;
font-size: 2rem;
line-height: 25px;
text-decoration: underline;
color: #4E4D4D;

   }

   .content3{
    width: 100%;
     font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
      text-align: center;
        color: #4E4D4D;
        z-index: 3;

   }

   #hp2{
    box-sizing: border-box;
    display: -webkit-box;
    margin-left: 10%;
        width: 80%;
    height: 60%;
    position:relative;
    z-index: 1;
border: .25rem solid rgba(70, 218, 191, 0.75);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 2rem;
z-index: 4;

   }

   .searchcatbtn{
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1.5rem;
gap: 1.5rem;
width: 20%;
height: 5%;
background: rgba(70, 218, 191, 0.75);
border: .10rem solid #4E4D4D;
border-radius: .5rem;
margin-left: 40%;


font-family: 'Dosis';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 1rem;
/* identical to box height */
color: #4E4D4D;
   }


  

  @media (min-width:500px){
    .indexcontainer{
        display: inline-block;
        width:50%;
    }
}

@media (min-width:600px){
    .indexcontainer{
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        
    }
   
}
   
/*about page codes */


.about{

        width: 75%;
        height: 100%;
        font-family: 'arial rounded MT';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1rem;
        text-align: center;
        color: #4E4D4D;
        margin-left: 15%;
        margin-top: 5%;
        z-index: 3;
}

.mission{
    text-align: left;
    font-family: 'arial rounded MT';
font-style: normal;
font-weight: 400;
font-size: 2rem;
line-height: 1rem;
text-decoration: underline;
color: #4E4D4D;
margin-top: 8%;
margin-left: 15%;
   }

   .mvp{
    text-align: left;
    font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #4E4D4D;
    margin-top: 2%;
    margin-left: 15%;
   }
   
   .aboutpgbutton{
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1.5rem;
gap: 1.5rem;
width: 20%;
height: 5%;
background: rgba(70, 218, 191, 0.75);
border: .10rem solid #4E4D4D;
border-radius: .5rem;
margin-left: 40%;
margin-top: 8%;

font-family: 'Dosis';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 1rem;
/* identical to box height */
color: #4E4D4D;
   }

   /*sign-in content below */

.welcome{
    position: absolute;
width: 70%;
height: 20%;
left: 15%;
top: 5%;

background: rgba(224, 224, 224, 0.75);
border-radius: 2rem;
z-index: 3;
}

#signinlogo{
    box-sizing: border-box;
    position: absolute;
left: -3rem;
top: -2rem;
  border: 4px solid rgba(70, 218, 191, 0.5);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 2rem;
   }

   .content5{
    width: 60%;
    height: 20%;
    font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
        color: #4E4D4D;
        margin-left: 30%;
    margin-top: 5%;
    z-index:  2;
   }

   .mainsignin{
    width: 60%;
    height: 20%;
    font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
        color: #4E4D4D;
        margin-left: 5%;
    margin-top: 1%;
    z-index: 3;
   }

   input[type=text]{
    width: 100%;
    height: 50px;
    background-color: #4E4D4D;
    color: white;
    opacity: .4;
    border-radius: 2rem;
        margin-left: 5%;
   }

   input[type=submit]{
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3rem;
gap: 3rem;
background: rgba(70, 218, 191, 0.75);
border: .2rem solid #4E4D4D;
border-radius: 2rem;
margin-top: 10%;
margin-left: 5%;
width: 100%;
height: 100%;
border-radius: 2rem;

font-family: 'Dosis';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 1rem;
padding: 1rem;
/* identical to box height */
color: #4E4D4D;

   }

   .signicon{
    border: solid;
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 1rem;
       }
   
   input[type=image]{
    padding-right:1rem;
    background-color: transparent;
   }
 
   /*create account page */

   .content6{
    width: 600px;
    height: 116px;
    font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
        color: #4E4D4D;
        margin-left: 20%;
    margin-top: 5%;
    z-index: 3;

   }

   /* Actual Account page */

   .container6{
    position: absolute;
width: 75%;
height: 120%;
left: 15%;
top: 20%;

background: rgba(224, 224, 224, 0.75);
border-radius: 2rem;
z-index: 3;
   }

   .content7{
    width: 100%;
    height: 5%;
    font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1rem;
    text-align: center;
        color: #4E4D4D;
        z-index: 2;
   }

   .accountsettings{
    font-family: 'arial rounded MT';
  font-style: normal;
      font-size: 1rem;
      text-align: center;
      color: #4E4D4D;
    z-index: 2;
  
  
}

   .profilepicture{
 position: absolute;
left: 80%;
top: 2%;
font-size: 1rem;
z-index: 2;

   }

   .checkouthistory{
    text-align: left;
    font-size: 2rem;
    margin-left: 15%;
    margin-top: 9%;
    z-index: 2;
   }

   .checkouthistory2{
    text-align: left;
    font-size: 2rem;
    margin-left: 15%;
    margin-top: 5%;
    z-index: 2;
   }

   .checkoutlist{
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-left: 15%;
   }

   .checkoutlist2{
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-left: 15%;
   }

   .favoritebooklist{
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-left: 15%;
    list-style-type: none;
      }

   .accountpgbtn {
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1.5rem;
gap: 1.5rem;
width: 20%;
height: 5%;
background: rgba(70, 218, 191, 0.75);
border: .10rem solid #4E4D4D;
border-radius: .5rem;
margin-left: 40%;


font-family: 'Dosis';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 1rem;
/* identical to box height */
color: #4E4D4D;
   }

  

   /* Search Catalog PAge*/
    .container4{
    position: absolute;
width: 75%;
height: 168%;
left: 15%;
top: 20%;

background: rgba(224, 224, 224, 0.75);
border-radius: 2rem;
z-index: 3;
   }

   #catlogo{
    box-sizing: border-box;
    position: absolute;
left: -3rem;
top: -2rem;
  border: 4px solid rgba(70, 218, 191, 0.5);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 2rem;
   }

   .container5{
    display: flex;
    flex-direction: row;
   }

   .catpara{
    text-align: left;
    font-size: 1rem;
    margin-left: 270%;
   }
   
   .byauthor{
    text-align: right;
    font-size: 1rem;
    margin-left: 32%;
   }

   #searchform{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1rem 2rem 1rem 1.5rem;
gap: 1rem;
margin-left: 60%;
width: 150%;
height: 50%;

background: #87D6C6;
border: .1rem solid #4E4D4D;
border-radius: 2rem;
}

#query{
    all:unset;
    font: 1rem system-ui;
    color: #87D6C6;
    height: 100%;
    width: 100%;
padding: 5%;
}

::placeholder{
    color: #4E4D4D;
}

#catalogbtn{
    all:unset;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin-right: 110%;
    margin-top: -1%;
}

.cataloglist{
    border: solid;
    border-color: #4E4D4D;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    width: 80%;
    height: 80%;
  
}

.results{
    font-size: 1.5rem;
    text-align: left;
    margin-top: 15%;
    margin-left: 10%;
}

.catalogpgbutton{
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1.5rem;
gap: 1.5rem;
width: 20%;
height: 5%;
background: rgba(70, 218, 191, 0.75);
border: .10rem solid #4E4D4D;
border-radius: .5rem;
margin-left: 40%;
margin-top: 5%;


font-family: 'Dosis';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 1rem;
/* identical to box height */
color: #4E4D4D;
   }

.carousel{
    --current-slide: 0;
    position: relative;
    margin-top: 5%;
    margin-left: 8%;

}


.carousel-buttons{
    position:absolute;
top:50%;
transform:translateY(-50%);
z-index: 1;

padding:0;
margin: 0%;
background-color: transparent;
border: none;

font-size: 1.5rem;
cursor: pointer;
transition:color .1s;
}

.carousel-button_next{
   right: 100%;
}

.slides{
    display:flex;
    transition:transform .5s;
    transform: translateX(calc(-100% * var (--current-slide)));
       gap: 1rem;
     margin-right: 8%;
}

.slide:hover{
    background-color: rgba(70, 218, 191, 0.5);
 }

.slide{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;

width: 50%;
height: 50%;
line-height: 1.25rem;

border: .1rem solid #4E4D4D;
border-radius: 1rem;
text-align: center;

}

@media screen   and (min-width:768px) {
    .carousel-buttons{
        margin: 1rem;
    }
}

/*footer icons are not spaced properly */ 

.ficons{
    padding-left: 2%;
  }

   .footer{
    position: relative;
    bottom: 0;
    margin-left: 25%;
    width: 100%;
    height: 10%;
    z-index: 2;

   }

   #footer{
       font-family: 'arial rounded MT';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 2rem;
text-decoration: underline;
color: #4E4D4D;

   }

 


 
  
 
 
  
