body{
        font-family: 'arial rounded MT';
    width: 100%;
    height: 100%;
   background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
        z-index: 1;
 }


.home-bg{
    background-image: url("images/Homepage Background.jpg");
    background-repeat: repeat;
}

#aboutbk{
   min-height: 100%;
   min-width: 800px;
   width: 100%;
   height: auto;
   position: auto;
   margin: 0;
 }

     
            .img{
                max-width: 100%;
                display: block;
            }


#image-overlay1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 500%;
    background: rgba(70, 218, 191, 0.6);
    z-index: 1;
   }

   #image-overlay2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    height: 192%;
    background: rgba(70, 218, 191, 0.6);
    z-index: 1;
   }

   
   @media screen and (max-width: 880px){
    .body{
        max-width: 100%;
        max-height: 260%;
    }

    .home-bg{
         background-repeat: repeat;
         max-width: 100%;
         max-height: 260%;
    }
        
                .img{
                    max-width: 80%;
                    display: flex;
                }
    
    
    #image-overlay1{
        max-width: 100%;
        max-height: 260%;
       }
   }

   /*create new image overlay code for other pages with smaller width and height*/

header{
        top: 0;
    left: 0;
    right: 0;
        height: 1.5%;
display: flex;
align-items: center;
z-index: 2;
}

header *{
    display: inline;

}


header li a{
    color: black;
    padding: 2rem;
}

.navbar {
    margin-top: 2.5%;
    max-width: 100%;
display: inline-block;
align-items: center;
   justify-content: space-between;
   font-family: 'arial rounded MT';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 1rem;
       }

       /*INDEX mobile coding */

       .hamburger{
        display:none;
       }

       .bar{
        display:none;
       }
       

      
     @media screen and (max-width: 880px){
         .nav-menu{
            position: fixed;
            left: -150%;
            top: 5rem;
            flex-direction: column;
            background-color: #fff;
            width: 100%;
            border-radius: 10px;
            transition: 0.3s;
            box-shadow: 0 10px  27px rgba(0, 0, 0, 0.05);
            
        }

        .nav-menu.active{
            left:0;
        }

             .hamburger{
            display: block;
            cursor: pointer;
            z-index: 3;
                    }

                    .bar{
                        display:block;
                        width:25px;
                        height: 3px;
                        margin: 5px auto;
                        -webkit-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                        background-color: #101010;
                       }
        
     }



   .library{
border-style: solid;
border-width: 1px;
border-radius: 5px;
   }

  

   .sign{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
       }

   #logo{
    box-sizing: border-box;
    position: absolute;
left: -3rem;
top: -2rem;
  border: 4px solid rgba(70, 218, 191, 0.5);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 2rem;
   }

.indexcontainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    z-index: 3;
}

   
      .container1{
    position: absolute;
width: 75%;
height: 100%;
left: 15%;
top: 20%;

background: rgba(224, 224, 224, 0.75);
border-radius: 2rem;
z-index: 3;
   }

   #hp1{
    box-sizing: border-box;
    display: -webkit-box;
    margin-left: 30%;
    margin-top: 15%;
    width: 40%;
    position:relative;
    z-index: 1;
border: .25rem solid rgba(70, 218, 191, 0.75);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 2rem;
z-index: 4;

   }

   .content1{
    width: 100%;
    height: 100%;
    font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1rem;
    text-align: center;
        color: #4E4D4D;
        margin-top: 38%;
    z-index: 3;

   }

   @media screen and (max-width: 880px) {

    #logo{
        width: 30%;
        height: 30%;
             border: 2px solid rgba(70, 218, 191, 0.5);
        border-radius: 1rem;

       }

    
        .indexcontainer{
            display: inline-block;
            max-width:50%;
        }
    
    
    
          .container1{
        position: absolute;
    width: 75%;
    height: 50%;
    left: 15%;
    top: 20%;
    
    background: rgba(224, 224, 224, 0.75);
    border-radius: 2rem;
    z-index: 3;
       }
    
       #hp1{
         margin-left: 80%;
        margin-top: 50%;
        width: 50%;
        height: 50%;
        border: .2rem solid rgba(70, 218, 191, 0.75);
        border-radius: 1rem;
       }
    
       .content1{
         font-size: .5rem;
        line-height: .5rem;
       }
    
   }
 
   .container2{
 position: absolute;
width: 75%;
height: 130%;
left: 15%;
top: 138%;
background: rgba(224, 224, 224, 0.75);
border-radius: 2rem;
z-index: 3;
   }

   .location{
    text-align: center;
    font-family: 'arial rounded MT';
font-style: normal;
font-weight: 400;
font-size: 2rem;
line-height: 1rem;
text-decoration: underline;
color: #4E4D4D;
   }
   
   table{
    margin-left: 25%;
            width: 100%;
    text-align: center;
   }

   th{
    padding-top: 0;
    height:1rem;
    width: 50%;
    font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1rem;
    text-align: center;
    text-decoration-line: underline;
    color: #4E4D4D;
    margin: .5%;

   }

   tr{
    padding-top: 2%;
    width: 50%;
    font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    text-align: center;
    color: #4E4D4D;
    margin: .5%;
   }

   .donations{
    text-align: center;
    font-family: 'arial rounded MT';
font-style: normal;
font-weight: 400;
font-size: 2rem;
line-height: 1rem;
text-decoration: underline;
color: #4E4D4D;
   }

   .content2{
    width: 75%;
    font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
        color: #4E4D4D;
        margin-left: 15%;
    margin-top: 2%;
    z-index: 3;

   }
    

   @media screen and (max-width: 880px) {

    .container2{
    position: absolute;
       max-width: 80%;
       max-height: 60%;
       left: 15%;
       top: 80%;
          }
       
          .location{
              font-size: .75rem;
       line-height: .75rem;
          }
          
              
          th{
            font-size: .75rem;
           line-height: .75rem;      
          }
       
          tr{
         
           font-size: .5rem;
           line-height: .5rem;
          }

          table{
                margin-left: 25%;
                max-width: 80%;
                
          }
       
          hr{
            
           width: 100px;
          }
          .donations{
            font-size: .75rem;
            line-height: .75rem;
          }
       
          .content2{
            font-size: .5rem;
            line-height: .5rem;       
          }
   }
   .container3{
   position: absolute;
width: 75%;
height: 90%;
left: 15%;
top: 290%;
background: rgba(224, 224, 224, 0.75);
border-radius: 2rem;
z-index: 3;
   }

   .eventcal{
    text-align: center;
    font-family: 'arial rounded MT';
font-style: normal;
font-weight: 400;
font-size: 2rem;
line-height: 25px;
text-decoration: underline;
color: #4E4D4D;

   }

   .content3{
    width: 100%;
     font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
      text-align: center;
        color: #4E4D4D;
        z-index: 3;

   }

   #hp2{
    box-sizing: border-box;
    display: -webkit-box;
    margin-left: 10%;
        width: 80%;
    height: 60%;
    position:relative;
    z-index: 1;
border: .25rem solid rgba(70, 218, 191, 0.75);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 2rem;
z-index: 4;

   }

   .searchcatbtn{
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1.5rem;
gap: 1.5rem;
width: 20%;
height: 5%;
background: rgba(70, 218, 191, 0.75);
border: .10rem solid #4E4D4D;
border-radius: .5rem;
margin-left: 40%;


font-family: 'Dosis';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 1rem;
/* identical to box height */
color: #4E4D4D;
   }

   @media screen and (max-width: 880px) {
    .container3{
        position: absolute;
           max-width: 80%;
           max-height: 60%;
           left: 15%;
           top: 150%;
              }

    .eventcal{
    font-size: .75rem;
    line-height: .75rem;
  }

  .content3{
    font-size: .5rem;
    line-height: .5rem;       
  }

  #hp2{
    margin-left: 10%;
    margin-top: 10%;
    max-width: 80%;
    max-height: 80%;
    border: .2rem 
    border-radius: 1rem;
    }

   .searchcatbtn{
padding: .75rem;
gap: .75rem;
width: 10%;
height: 5%;
border: .10rem solid #4E4D4D;
border-radius: .5rem;
margin-left: 45%;


font-size: .5rem;
line-height: .5rem;
   }
   }


   
/*about page codes */


.about{

        width: 100%;
        height: 100%;
        font-family: 'arial rounded MT';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1rem;
        text-align: center;
        color: #4E4D4D;
        z-index: 3;
}

.content4{
    text-align: center;
    font-family: 'arial rounded MT';
font-style: normal;
font-weight: 400;
font-size: 3rem;
line-height: 1rem;
color: #4E4D4D;
margin-top: 5%;
margin-left: 15%;
   }

.mission{
    text-align: left;
    font-family: 'arial rounded MT';
font-style: normal;
font-weight: 400;
font-size: 2rem;
line-height: 1rem;
text-decoration: underline;
color: #4E4D4D;
margin-top: 8%;
margin-left: 15%;
   }

   .mvp{
    text-align: left;
    font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #4E4D4D;
    margin-top: 2%;
    margin-left: 15%;
   }
   
   .aboutpgbutton{
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1.5rem;
gap: 1.5rem;
width: 20%;
height: 5%;
background: rgba(70, 218, 191, 0.75);
border: .10rem solid #4E4D4D;
border-radius: .5rem;
margin-left: 40%;
margin-top: 8%;

font-family: 'Dosis';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 1rem;
/* identical to box height */
color: #4E4D4D;
   }


   @media screen and (max-width: 880px){

    .about{
        max-width: 880px;
        max-height: 900px;
    }

    #aboutbk{
        min-width: 320px;
        min-height: 400px;
    }
    
    #image-overlay2{
        max-width: 100%;
        max-height: 100%;
       }
    
.mission{
        font-size: .75rem;
 line-height: .75rem;
    }

   .mvp{
        font-size: .5rem;
 line-height: .5rem;
    }

    .content4{
        font-size: 1rem;
 line-height: 1rem;
    }

      
   .aboutpgbutton{
        padding: .75rem;
        gap: .75rem;
        width: 15%;
        height: 10%;
        border: .10rem solid #4E4D4D;
        border-radius: .5rem;
        margin-left: 45%;
        
        
        font-size: .5rem;
        line-height: .5rem;
           }
    }

   /*sign-in content below */

.welcome{
    position: absolute;
width: 70%;
height: 50%;
left: 15%;
top: 5%;

background: rgba(224, 224, 224, 0.75);
border-radius: 2rem;
z-index: 3;
}

#signinlogo{
    box-sizing: border-box;
    position: absolute;
left: -3rem;
top: -2rem;
  border: 4px solid rgba(70, 218, 191, 0.5);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 2rem;
   }

   .content5{
    width: 600px;
    height: 116px;
    font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 23px;
    text-align: center;
        color: #4E4D4D;
        margin-left: 20%;
    margin-top: 5%;
    z-index: 3;

   }

   .mainsignin{
    width: 60%;
    height: 20%;
    font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
        color: #4E4D4D;
        margin-left: 5%;
    margin-top: 1%;
    z-index: 3;
   }

   input[type=text]{
    width: 100%;
    height: 50px;
    background-color: #4E4D4D;
    color: white;
    opacity: .4;
    border-radius: 2rem;
        margin-left: 5%;
   }

   input[type=submit]{
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3rem;
gap: 3rem;
background: rgba(70, 218, 191, 0.75);
border: .2rem solid #4E4D4D;
border-radius: 2rem;
margin-top: 10%;
margin-left: 5%;
width: 100%;
height: 100%;
border-radius: 2rem;

font-family: 'Dosis';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 1rem;
padding: 1rem;
/* identical to box height */
color: #4E4D4D;

   }

   .signicon{
    border: solid;
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 1rem;
       }
   
   input[type=image]{
    padding-right:1rem;
    background-color: transparent;
   }


   @media screen and (max-width: 880px){

    .welcome{
        max-width: 80%;
        height: 100%; 
        padding-left: 10%;
    }
    
       
       .content5{
        font-size: 1rem;
        line-height: 1rem;
        margin-top: 15%;
    margin-left: -20%;               }
    
       .mainsignin{
            margin-left: 20%;
       }
    
       .signicon{
            width: 100%;
        height: 100%;
        align-items: center;
        padding-top: 1rem;
           }
       
       #signinlogo{
        min-width: 10%;
        height: 15%;
             border: 2px solid rgba(70, 218, 191, 0.5);
        border-radius: 1rem;
       }
   }
 
   /*create account page */

   .content6{
    width: 600px;
    height: 116px;
    font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
        color: #4E4D4D;
        margin-left: 20%;
    margin-top: 5%;
    z-index: 3;

   }

   /*Do media query for create account page. Fix this page */

   @media screen and (max-width: 880px){


   }

   /* Actual Account page */

   .container6{
    position: absolute;
width: 75%;
height: 120%;
left: 15%;
top: 20%;

background: rgba(224, 224, 224, 0.75);
border-radius: 2rem;
z-index: 3;
   }

   .content7{
    width: 100%;
    height: 5%;
    font-family: 'arial rounded MT';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1rem;
    text-align: center;
        color: #4E4D4D;
        z-index: 2;
   }

   .accountsettings{
    font-family: 'arial rounded MT';
  font-style: normal;
      font-size: 1rem;
      text-align: center;
      color: #4E4D4D;
    z-index: 2;
  
  
}

   .profilepicture{
 position: absolute;
left: 80%;
top: 2%;
font-size: 1rem;
z-index: 2;

   }

   .checkouthistory{
    text-align: left;
    font-size: 2rem;
    margin-left: 15%;
    margin-top: 9%;
    z-index: 2;
   }

   .checkouthistory2{
    text-align: left;
    font-size: 2rem;
    margin-left: 15%;
    margin-top: 5%;
    z-index: 2;
   }

   .checkoutlist{
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-left: 15%;
   }

   .checkoutlist2{
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-left: 15%;
   }

   .favoritebooklist{
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-left: 15%;
    list-style-type: none;
      }

   .accountpgbtn {
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1.5rem;
gap: 1.5rem;
width: 20%;
height: 5%;
background: rgba(70, 218, 191, 0.75);
border: .10rem solid #4E4D4D;
border-radius: .5rem;
margin-left: 40%;


font-family: 'Dosis';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 1rem;
/* identical to box height */
color: #4E4D4D;
   }

   @media screen and (max-width: 880px){


   }

   /* Search Catalog PAge*/
    .container4{
    position: absolute;
width: 75%;
height: 168%;
left: 15%;
top: 20%;

background: rgba(224, 224, 224, 0.75);
border-radius: 2rem;
z-index: 3;
   }

   #catlogo{
    box-sizing: border-box;
    position: absolute;
left: -3rem;
top: -2rem;
  border: 4px solid rgba(70, 218, 191, 0.5);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 2rem;
   }

   .container5{
    display: flex;
    flex-direction: row;
   }

   .catpara{
    text-align: left;
    font-size: 1rem;
    margin-left: 270%;
   }
   
   .byauthor{
    text-align: right;
    font-size: 1rem;
    margin-left: 32%;
   }

   #searchform{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1rem 2rem 1rem 1.5rem;
gap: 1rem;
margin-left: 60%;
width: 150%;
height: 50%;

background: #87D6C6;
border: .1rem solid #4E4D4D;
border-radius: 2rem;
}

#query{
    all:unset;
    font: 1rem system-ui;
    color: #87D6C6;
    height: 100%;
    width: 100%;
padding: 5%;
}

::placeholder{
    color: #4E4D4D;
}

#catalogbtn{
    all:unset;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin-right: 110%;
    margin-top: -1%;
}

.cataloglist{
    border: solid;
    border-color: #4E4D4D;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    width: 80%;
    height: 80%;
  
}

.results{
    font-size: 1.5rem;
    text-align: left;
    margin-top: 15%;
    margin-left: 10%;
}

.catalogpgbutton{
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1.5rem;
gap: 1.5rem;
width: 20%;
height: 5%;
background: rgba(70, 218, 191, 0.75);
border: .10rem solid #4E4D4D;
border-radius: .5rem;
margin-left: 40%;
margin-top: 5%;


font-family: 'Dosis';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 1rem;
/* identical to box height */
color: #4E4D4D;
   }

.carousel{
    --current-slide: 0;
    position: relative;
    margin-top: 5%;
    margin-left: 8%;

}


.carousel-buttons{
    position:absolute;
top:50%;
transform:translateY(-50%);
z-index: 1;

padding:0;
margin: 0%;
background-color: transparent;
border: none;

font-size: 1.5rem;
cursor: pointer;
transition:color .1s;
}

.carousel-button_next{
   right: 100%;
}

.slides{
    display:flex;
    transition:transform .5s;
    transform: translateX(calc(-100% * var (--current-slide)));
       gap: 1rem;
     margin-right: 8%;
}

.slide:hover{
    background-color: rgba(70, 218, 191, 0.5);
 }

.slide{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;

width: 50%;
height: 50%;
line-height: 1.25rem;

border: .1rem solid #4E4D4D;
border-radius: 1rem;
text-align: center;

}



/*footer icons are not spaced properly */ 

.icons{
    min-width: 320px;
    
  }

  .indexfooter{
    position: absolute;
    top: 390%;
    margin-left: 45%;
    min-width: 320px;
    height: 10%;
    z-index: 2;

   }

   #indexfooter{
       font-family: 'arial rounded MT';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 2rem;
text-decoration: underline;
color: #4E4D4D;

   }

  

  .footer{
    position: relative;
    bottom: 0;
    margin-left: 45%;
    width: 100px;
    height: 10%;
    z-index: 2;

   }

   #footer{
       font-family: 'arial rounded MT';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 2rem;
text-decoration: underline;
color: #4E4D4D;

   }

   /*on mobile devices, footer continues off page. Figure out how to fix it */

   @media screen and (max-width: 880px) {
    
    footer{
        max-width: 880px;
        height: 10%;
        bottom: 0;
    }
    #footer{
        margin-top: 30%;
        font-size: .75rem;
        line-height: .75rem;
        
    }

    .ficons{
        padding: .25rem;
        max-width: 10%;
        max-height: 5%;
    }
    .indexfooter{
        top: 210%;
        max-width: 880px;
        height: 10%;
    }
    
    #indexfooter{
        font-size: .75rem;
        line-height: .75rem;
        
    }

    .icons{
max-width: 80%;
max-height: 80%;
    }

     
    
   }


 
  
 
 
  
